.carousel-caption{
    font-size: 1rem;
    height: 44rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 22rem 10rem;
    right: 0%;
    left: 0%;
    bottom: 0rem;
}
@media only screen and (min-width: 767px) and (max-width:980px){
    .carousel-caption{
        padding: 26rem 5rem 0rem;
    }
}
@media only screen and (max-width: 767px){
    .carousel-caption{
        padding: 33rem 5rem 0rem;
        font-size: xx-small;
    }
    .carousel-caption h1{
        font-size: small;
    }
    .buttons p{
        font-size: xx-small;
        height: 1px;
        padding-top: 0px;
    }
}